name: Release

on:
  push:
    tags: 
    - 'v[0-9]+.[0-9]+.[0-9]+*'

defaults:
  run:
    shell: pwsh

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET 5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Test
      run: dotnet test -c Release --verbosity normal
  
  release:
    runs-on: ubuntu-latest
    needs: [test]
    
    steps:
    
    - uses: actions/checkout@v2
    - name: Setup .NET 5
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Import module
      run: Import-Module ./release.ps1
    - name: Build
      run: Build-Release -Path ./src/Hello
    - name: Create Release
      run: Publish-Release -Tag $env:GITHUB_REF.Split("/")[-1]
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
